@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  background-image: url(fond_ecran.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  color: #006633; 
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 2px #99CC99;
  letter-spacing: 1px;
  font-size: 36px; 
  font-weight: bold;
}

h2, h3, h4 {
  text-align: center;
  color: #006633; 
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 2px #99CC99;
  letter-spacing: 1px;
  font-size: 24px; 
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 12px 24px;
  margin-right: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 0 auto; 
}

.button.blue {
  background-color: #2196F3;
  align-items: center;
}

.button.green {
  background-color: #8BC34A;
}

.button.red {
  background-color: #F44336;
}

.button.temp {
  background-color: #FFC107;
}

.button:hover {
  background-color: #3e8e41;
}

/* Section styles */
.section {
  margin-bottom: 24px;
}

.section:last-child {
  margin-bottom: 0;
}

/* Counter styles */
#count {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 12px;
}

/* Temperature styles */
#temperature {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 24px;
  text-align: center;
  font-size: 20px; 
}
